<main>
  <section>
    <div class="modal-dialog modal-dialog-scrollable modal-lg" ngxDraggableDom="true" role="tabpanel">
      <div class="modal-content">
        <div class="modal-header" style="background-color:white ">

          <button type="button" class="model-header-button" (click)="close()" data-dismiss="modal" aria-label="Close"  id="DPopUpClose">close</button>
        </div>
        <div class="modal-body" style="background-color: white;min-height:fit-content">

        </div>
        <div class="modal-footer" style="background-color: white"></div>
      </div>
    </div>
  </section>
</main>

<!------------------------------------------>

<!--<button  (click)="showTransacPopup=true" data-toggle="tab" data-placement="left" title="'ddddddddddddddd'"  role="tab">
  <i class="fa fa-transgender-alt" aria-hidden="true" > {{'Go To TRANSACTION'}}</i></button>-->
<!--
<div class="modal tab-pane fa fa" id="DPopUp" tabindex="-1" role="tab" *ngIf="showTransacPopup"
     aria-labelledby="successLabel" aria-hidden="true">
  <app-dialog  (show-popup)="showTransacPopup=$event"></app-dialog>
</div>-->

