
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <div *ngIf="showmessage" style="text-align: center">
          <h1 class="alert alert-success" style="font-size:large ">{{"the stateis is :"+message}}</h1>
        </div>
      </div>
      <div class="card-body" style="background-color: lawngreen">
        <form class="col col-xl-12" style="background-color: white" #userRegistrationForm="ngForm"
              (ngSubmit)="OnSubmit(userRegistrationForm)">
          <fieldset>
            <legend class="text-center"> INFORMATION. <span class="req"><small>
                                required *</small></span></legend>

            <div class="form-group">
              <label for="Name"><span class="req">* </span> Name: <small>This will be your login user
                name</small> </label>
              <input required type="text" ngModel #UserName="ngModel" [(ngModel)]="user.username" name="name" id="name"
                     class="form-control" maxlength="28" placeholder="Enter your fullname..."/>
            </div>

            <div class="form-group">
              <label for="pass"><span class="req">* </span> Password: </label>
              <input class="form-control" type="text" ngModel #Password="ngModel" [(ngModel)]="user.password"
                     name="pass" id="pass" required
                     placeholder="Password"/>
              <div id="errFirst"></div>
            </div>

            <div class="form-group">
              <label><span class="req">* </span> Role : </label>
              <!--    <input class="form-control" type="text" #Role="ngModel" [(ngModel)]="user.roles" name="role" id="role"
                         placeholder="Your Authority " required/>
                  <div id="errLast"></div>-->
              <select style="font-size: large;background-color:bisque;color: red" class="form-control form-control-sm"
                      name="role" [(ngModel)]="user.roles" ngModel>
                <option  style="color: blue; font-size: large" value=ROLE_USER>{{'USER'}}</option>
                <option *ngIf="role=='ROLE_ADMIN'" style="color: blue; font-size: large" value=ROLE_ADMIN>{{'ADMIN'}}</option>
                <option *ngIf="role=='ROLE_ADMIN'"  style="color: blue; font-size: large" value=ROLE_SELLER>{{'SELLER'}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="active"><span class="req">* </span> Active: </label>
              <input class="form-control" required type="text" ngModel #Enabled="ngModel" [(ngModel)]="user.enabled"
                     name="active"
                     id="active" placeholder="Enter True or False"/>
              <div class="status" id="status"></div>
            </div>
            <div class="form-group">
              <input [disabled]="!userRegistrationForm.valid" class="btn btn-success" type="submit" name="submit_reg"
                     value="Register">
            </div>
          </fieldset>
        </form><!-- ends register form -->
        <!-- second for to fiter user-->
      </div><!-- ends col-6 -->

    </div>
  </div>
</div>
<!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
<!--<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
      <label data-error="Required field!">UserName</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
      <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
    </div>
  </div>
 &lt;!&ndash; <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
      <label data-error="Invalid email!">Email</label>
    </div>
  </div>&ndash;&gt;
  <div class="row">
    <div class="input-field col s6">
      <input type="text" name="role" #FirstName="ngModel" [(ngModel)]="user.roles">
      <label>AUTHORITIES</label>
    </div>
    <div class="input-field col s6">
      <input type="text" name="enabled" #LastName="ngModel" [(ngModel)]="user.enabled">
      <label>IS ACTIVATED</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>-->
<!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->

