<div class="container" style="background-color: white">
  <!--<div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Incorrect username or password
  </div >-->
  <div>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header" style="background-color: #FFC312">
            <h3>Sign In</h3>
            <div class="d-flex justify-content-end social_icon">
              <span><i class="fa fa-comment"></i></span>
              <span><i class="fa fa-bicycle"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
            </div>
          </div>
          <div class="card-body" style="background-color: lawngreen">
            <form #f="ngForm" (ngSubmit)="OnSubmit(f,UserName.value,Password.value)">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"
                                                    style="font-size: x-large;color: navy;"></i></span>
                </div>
                <input type="text" class="form-control" #UserName ngModel name="UserName " placeholder="Username"
                       required>

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key" style="font-size: x-large;color: navy"></i></span>
                </div>
                <input type="password" class="form-control" #Password ngModel name="Password" placeholder="Password"
                       required>
              </div>

              <div class="form-group align-content-center">
                <input type="submit" value="Login" class="btn float-right login_btn" [disabled]="!f.valid">
              </div>
            </form>
          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
