<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav col-md-4">
    <li class="nav-item">
    <img alt="" class="avatar" height="30" width="30" [src]="ASaberWordAr" style="border-radius: 50%">
    </li>
    <li class="nav-item">
      <a [routerLink]="mainPath" class="nav-link" style="color: darkorchid" routerLinkActive="active">MAIN PAGE</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'/multichoice.com/ahmed/tu'" class="nav-link" style="color: lime" routerLinkActive="active">TUTORIAL</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'video'" class="nav-link" style="color: lime" routerLinkActive="active">VIDEO</a>
    </li>

  </ul>

  <ul *ngIf="!hiddenTabs" class="navbar-nav col-md-6">
    <li class=" row dropdown" style="width: fit-content">
      <input class=" form-control mr-sm-2"  #input type="search" placeholder="add tab" aria-label="Search">
    </li>
    <button style="background-color:white;border: 3px solid blue;color: blue;margin-right:15px;cursor: pointer"
            (click)="addTab(input.value)">add tab</button>
    <button style="background-color:white;border: 3px solid blue;color: red;margin:0 2px;cursor: pointer"
            (click)="deleteTab(input.value)">delete tab</button>
  </ul>
  <ul *ngIf="hiddenTabs" class="navbar-nav col-md-6"></ul>

  <ul class=" nav navbar-nav col-md-2">
    <li class="nav-item">
      <a> <select class="fa fa-eye" (change)="setLang()" [(ngModel)]="selectedLang"
                  style="background-color:black;color:white;font-size: x-large">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}<i class="fa fa-eye"
                                                                                    style="color: red"></i></option>
      </select> </a>
    </li>

    <li class="dropdown">
      <a (click)="dropDownOpened=!dropDownOpened" style="cursor: pointer;margin: 20px 20px 0;color: whitesmoke"
         class="dropdown-toggle"
         appDropdown data-toggle="dropdown" role="button">
        <img alt="" class="avatar" height="30" width="30" [src]="userImagePath+userImage" style="border-radius: 50%">
        Hi -<i style="color: yellow">{{userName|uppercase}}</i><span class="caret"></span>

      </a>
      <ul class="dropdown-menu " [ngClass]="{show:dropDownOpened}">

        <div *ngIf="role==roleAdmin" class="dropdown-divider"></div>
        <a *ngIf="role==roleAdmin" STYLE="color: blue" class="nav-link" routerLink='/signup'
           routerLinkActive='active'>Sign Up</a>
        <div class="dropdown-divider"></div>
        <li><a style="cursor: pointer;color:blue" (click)="Logout()">Logout</a></li>

      </ul>
    </li>

  </ul>
</nav>


