<!-----------------------------------background&personal image and button bar--------------------------------------------------->
<div  *ngIf="!maximize">
  <div>
    <div class="row" style="margin:0 3px;">
      <div class="col-md-2">
        <div><img alt="" class="avatar" height="280" width="200" [src]="backgroundImagePath+'hi.gif'"></div>
      </div>
      <div class="col-md-8">
      <img [src]="imgPath+user?.personalImage" class="embed-responsive"
           style="height: 100px;width:100px;z-index: 2;position:absolute;object-fit: cover;border-radius: 50%">
      <img [src]="imgPath+user?.backgroundImage" class="embed-responsive"
           style="height: 285px;width:100%;z-index: 1;">
      </div>
      <div class="col-md-2">
        <div><img alt="" class="avatar" height="280" width="200" [src]="backgroundImagePath+'hi.gif'"></div>
      </div>
    </div>

    <div class="row" style="width: 100%;background-color:navy;margin: 11px ">
      <div *ngIf="visitor!=true" class="row">
        <div class="col-md-12">
          <div class="input-group form-group">
            <input type="file" #fileInput (change)="personalEvent=$event" style="display: none" ngModel required
                   name="fil">
            <button class="btn btn-success" type="button" (click)="fileInput.click();showSave=true">
                      <span class="input-group-text" style="background-color: blue;border-color: blue"><i
                        class="fa fa-file"
                        style="font-size: large;color:yellow;border-color: blue"> upload personal image</i></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="visitor!=true" class="row">
        <div class="col-md-12">
          <div class="input-group form-group">
            <input type="file" #fileInput2 (change)="backgroundEvent=$event" style="display: none" ngModel required
                   name="fil2">
            <button class="btn btn-success" type="button" (click)="fileInput2.click();showSave=true">
                      <span class="input-group-text" style="background-color: blue;border-color: blue"><i
                        class="fa fa-file" style="font-size: large;color:yellow;border-color: blue"> upload background image</i></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="visitor==true&&!showRemoveFriend&&!blocked&&!blockAllUsers" class="row">
        <div class="col-md-12">
          <div class="input-group form-group">
            <button (click)="sendFriendReques()" class="btn btn-success" type="button"
                    [disabled]="showRequestSent"><span class="input-group-text"
                                                       style="background-color: blue;border-color: blue"><i
              class="fa fa-users"
              style="font-size: large;color:white;border-color: blue"> {{showRequestSent ? 'Your request sent' : 'send request'}}</i></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="visitor==true&&showRemoveFriend" class="row">
        <div class="col-md-12">
          <div class="input-group form-group">
            <button (click)="removeFriend()" class="btn btn-success" type="button"><span class="input-group-text"
                                                                                         style="background-color: blue;border-color: blue"><i
              class="fa fa-users" style="font-size: large;color:white;border-color: blue"> Remove Friend</i></span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group form-group">
            <button class="btn btn-success" type="button"><span class="input-group-text" (click)="loadFriends()"
                                                                style="background-color: blue;border-color: blue"><i
              class="fa fa-user-secret"
              style="font-size: large;color:white;border-color: blue"> friends{{visitor == true ? ' - the common friends - ' + commonFriends.length : ' - '+friends.length}}</i></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row offset-md-2" *ngIf="showSave">
        <div class="col-md-12">
          <div class="input-group form-group">
            <button (click)="updateUser()" class="btn btn-success" type="button"><span class="input-group-text"
                                                                                       style="background-color: white;border-color: yellow"><i
              class="fa fa-save" style="font-size: large;color:blue;border-color: blue"> Save</i></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!visitor" class="row" >
        <div class="col-md-12">
          <div class="input-group form-group">
            <button class="btn btn-success" type="button"><span class="input-group-text" (click)="openPrivacy=!openPrivacy"
                                                                style="background-color: green;border-color: blue"><i class="fa fa-adjust"
              style="font-size: large;color:orangered;border-color: blue">SET PRIVACIES</i></span>
              <ul class="dropdown-menu " [ngClass]="{show:openPrivacy}" style="background-color: navy;color:#f91c1e;width: 220px">
                <div class="row" style="margin:0 3px">
                 <button class="btn btn-success">friends privacy<input type="checkbox" [(ngModel)]="friendsPrivacy" style="color: red;background-color: yellow"></button>
                <button class="btn btn-success" (click)="updatePrivacy()">save</button>
                </div>
                <div class="row" style="margin:0 3px">
                  <button class="btn btn-success" (click)="openBlockUserSettingPoPup=true" data-toggle="modal" data-target="#blockUserPopup"> block users setting
                      <i class="fa fa-eye" aria-hidden="true" style="color:lime;font-size:x-large "> </i>
                  </button>
                </div>
              </ul>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!----------------------------------friends part-------------------------------->
<div *ngIf="showFriends" class="row" style="border: 1px solid blue;margin: 0 5px">
  <div class="col-md-2">
    <div><img alt="" class="avatar" height="380" width="200" [src]="backgroundImagePath+'f4.gif'"></div>
  </div>
  <div class="col-md-8 pre-scrollable"
       style="border-left: 1px solid blue;border-right: 1px solid blue;min-height:390px;">
    <span class="container" *ngFor="let friend of friends; let i=index;" style="margin: 30px">
    <div class="list-inline-item">
      <span class="badge badge-pill" style="display: inline-block">
        <img alt="" class="avatar" height="30" width="30" [src]="friendImagePath+friend.personalImage">
        <strong style="color:blue;margin: 0 4px;padding:0 " [title]="friend.username">{{friend.username|shorten:10}}</strong>
        <hr *ngIf="(i+1)%3==0">
    </span>
    </div>
    </span>
  </div>
  <div class="col-md-2">
    <div><img alt="" class="avatar" height="380" width="200" [src]="backgroundImagePath+'f4.gif'"></div>
  </div>
</div>
<!------------------------personal posts part----------------------------------->
<div *ngIf="!showFriends" class="row" style="border: 1px solid blue;margin: 0 5px" (dblclick)="maximize=!maximize">
  <div class="col-md-2">
    <div><img alt="" class="avatar" height="380" width="200" [src]="backgroundImagePath+'f4.gif'"></div>
    <div *ngIf="maximize"><img alt="" class="avatar" height="380" width="200" [src]="backgroundImagePath+'f3.gif'"></div>
  </div>
  <div class="col-md-8 pre-scrollable"
       style="border-left: 1px solid blue;border-right: 1px solid blue;"
       [ngStyle]="{'min-height':maximize?'782px':'390px'}">

    <div style="min-height:900px;margin:0 200px" class="text-center">
      <div class="text-center " *ngFor="let post of posts"
           style="border-bottom:1px solid blue;padding:15px 0;margin:10px 0">

        <div class="row">
          <div class="col-md-4">
            <img alt="" class="avatar" height="30" width="30" [src]="friendImagePath+post.userPicName"
                 style="border-radius: 50%">
            <strong style="color:blue;margin: 0;width:fit-content;margin: 0 5px "
                    [title]="post.user">{{post.user}}</strong>
          </div>
          <div class="col-md-4" style="background-color: white">
            <strong style="color:greenyellow;margin: 0;width:fit-content;padding:8px "
                    [title]="post.date">{{post.date}}</strong>
          </div>
        </div>

        <div class="row" style="color: blue;margin: 0 3px">
          <p>{{post.message|shorten:post.length}}</p>
          <a *ngIf="post.length<post.message.length" (click)="post.length=post.message.length"
             style="color: lawngreen;cursor: pointer">see more</a>
        </div>
        <div>
          <img alt="" class="embed-responsive" height="320" style="max-width: 600px" [src]="postImagePath+post.picName">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div><img alt="" class="avatar" height="380" width="200" [src]="backgroundImagePath+'f4.gif'"></div>
    <div *ngIf="maximize"><img alt="" class="avatar" height="380" width="200" [src]="backgroundImagePath+'f2.gif'"></div>
  </div>
</div>
<div class="modal fa fa" id="blockUserPopup" tabindex="-1" role="dialog" *ngIf="openBlockUserSettingPoPup"
     aria-labelledby="successLabel" aria-hidden="true">
  <block-user-setting (show-popup)="openBlockUserSettingPoPup=$event" ></block-user-setting>
</div>
