input.ng-invalid.ng-touched {
  border: none;
}

input {
  border: none;
  color: blue;
  font-size: large;
}

textarea {
  border: none;
  color: blue;
  font-size: large;
}
label{
  color:deeppink;
  font-style: italic;
  font-family: Arial;
  font-size: x-large;
}


