<div class="row" style="margin:3px 5px;background-color: black;border:3px solid blue;">
  <h5><a   class="nav-link" style="color: lawngreen;font-style:oblique;font-family:FontAwesome">{{'TUTORIAL'}}</a></h5>
<button (click)="increaseIndex()" class="fa fa-angle-double-right"></button>
<div class="row" style="margin:0 3px;max-width: 1470px;max-height: 15px">
  <h5 *ngFor="let tab of tabs|customizeArray:tabArrayIndex;let i=index">
    <a [routerLink]="['sideBar',tab.title]"  class="nav-link" (click)="setActive(i)"
       [ngStyle]="{color:selectedItemIndex==i?'blue':'white'}"
       style="color: white;font-style: italic;font-family: Andalus" routerLinkActive="active">{{tab.title}}</a>
  </h5>
</div>
<button (click)="decreaseIndex()"  class="fa fa-angle-double-left"></button>
</div>

