<div class="modal-dialog modal-dialog-scrollable modal-lg  " role="document">
  <div class="modal-content">
    <div class="modal-header" style="background-color:blue ">
      <h6 style="color: yellow">ADD CATEGORY</h6>
      <button type="button" (click)="close()" style="background-color: red" data-dismiss="modal" aria-label="Close"
              id="employeePopupClose">
        <i class="fa fa-close" aria-hidden="true" style="color:yellow;font-size:x-large "></i>
      </button>
    </div>
    <div class="modal-body" style="background-color: white;min-height:fit-content">
      <div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="container">
            <div class="row" style="margin-bottom: 3px">
              <div class="col-md-5">
                <label style="color: blue;font-size:x-large">Enter The Category Name : </label>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="Enter The Category Name" name="cname" class="form-control" ngModel [(ngModel)]="category.name"
                       required>
              </div>
            </div>
            <div class="row" style="margin-bottom: 3px">
              <div class="col-md-5">
                <label style="color: blue;font-size:x-large">Enter The Description : </label>
              </div>
              <div class="col-md-7">
            <textarea rows="2" placeholder="Enter The description" name="desc" class="form-control" ngModel [(ngModel)]="category.description"
                      required></textarea>
              </div>
            </div>
          <hr style="border-color: blue"/>
          <div class="row " >
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <button type="button" (click)="onSubmit(f)" class="btn " style="text-align: center;color:blue;background-color:red" [disabled]="!f.valid">
                <i class="fa fa-eye"></i>SUBMIT<i class="fa fa-eye"></i></button>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer" style="background-color: blue"></div>
  </div>
</div>
