<ngx-loading-bar color="red"></ngx-loading-bar>
<main class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
  <section class="main-section">

    <div class="container">
      <div class="row" style="margin: 0px;padding: 0px">
        <div class="col-md-12" style="margin: 0px;padding: 0px">

          <nav *ngIf="role==l.ROLE_ADMIN" aria-label="breadcrumb" style="background-color: white;color: navy">
            <ol class="breadcrumb" style="background-color: white;color: navy">
              <li class="breadcrumb-item">  <button [ngStyle]="{color :scanner?'blue':'yellow'}" [ngClass]="{'btn-warning':scanner}"

                                                    class="btn btn-outline-warning fa fa-sliders" style="color: yellow;font-size:large;font-style: italic">
                <label [ngStyle]="{color :scanner?'blue':'yellow'}"><input [(ngModel)]="scanner" type="checkbox">{{scannerMode|translate}}</label></button></li>
              <li class="breadcrumb-item"><a routerLink="../" routerLinkActive="active"><i class="fa fa-home"
                                                                                           style="font-size: xx-large"></i></a>
              </li>
              <li class="breadcrumb-item"><a routerLink="../add" routerLinkActive="active">{{'PROJECT.breadcrumb.product_management'|translate}}</a></li>
              <li class="breadcrumb-item"><a routerLink="../slider" routerLinkActive="active">{{'PROJECT.breadcrumb.view_product'|translate}}</a></li>
              <li *ngIf="scanner&&!showStopScanner" class="breadcrumb-item" style="color:lime;cursor:pointer">
                <a (click)="openScanner()">{{'PROJECT.breadcrumb.open_scanner'|translate}}</a></li>
              <li *ngIf="scanner&&showStopScanner" class="breadcrumb-item" style="color:lime;cursor:pointer">
                <a (click)="stopScanner()">{{'PROJECT.breadcrumb.stop_scanner'|translate}}</a></li>
            </ol>
          </nav>
        </div>
        <hr style="border-color: navy"/>
        <div class="col-md-12" style="width: 400px;">
          <div [hidden]="!barcodeValue">
            {{barcodeValue}}
          </div>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">

              <div  class="input-group mb-3">
                <div *ngIf="!scanner" class="form-group mx-sm-3 mb-2">
                  <label
                    style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.sell.select_category'|translate}} </label>
                  <div class="custom-select-box">
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right"
                            title="Select category">
                      <select style="font-size: large;background-color: yellow;color: red"
                              class="form-control form-control-sm" (change)="selectdata()"
                              name="selectedCategory" [(ngModel)]="selectedCategory" ngModel>
                        <option style="color: blue; font-size: large" [value]="'categories'">{{'CATEGORIES'}}</option>
                        <option style="color: blue; font-size: large" *ngFor="let category of categories"
                                [value]="category">
                          {{ category}}
                        </option>
                      </select>
                    </button>
                  </div>
                </div>

                <div *ngIf="!scanner" class="form-group mx-sm-3 mb-2">
                  <label
                    style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.sell.select_product'|translate}} </label>
                  <div class="custom-select-box">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right"
                            title="Select Product">
                      <select style="font-size: large;background-color: yellow;color: red"
                              class="form-control form-control-sm"
                              (change)="selectedValue=$event.target.value" name="selectedValue"
                              [(ngModel)]="selectedValue" ngModel>
                        <option style="color: blue; font-size: large" [value]="'PRODUCTS'">{{'PRODUCTS'}}</option>
                        <option style="color: blue; font-size: large" *ngFor="let brand of brands"
                                [value]="brand.value">
                          {{ brand.viewValue }}
                        </option>
                      </select>
                    </button>
                  </div>
                </div>
                <div *ngIf="scanner" class="form-group mx-sm-3 mb-2">
                  <label for="cod" style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.edit.product_cod'|translate}} </label>
                  <input  type="text" style="font-size: large;color:blue"
                         class="form-control text-center" id="cod" required ngModel
                         [(ngModel)]="selectedCod" name="cod"/></div>

                <div  class="form-group mx-sm-3 mb-2">
                  <div class="form-group mx-sm-3 mb-2">
                    <div class="input-group mb-3">
                      <div class="form-group mx-sm-3 mb-2"> <label for="amount" style="margin: 0px;padding: 0px;width: 30px;color: blue;background-color:#fbfbfb;font-size: large">
                        {{'PROJECT.product.sell.quantity'|translate}} </label></div>
                      <div class="input-group mb-3">
                        <input type="number" class="form-control text-center" id="amount" required minlength="1" min="1"
                               data-toggle="tooltip" data-placement="right" title="Enter the Amount"
                               [(ngModel)]="amount" style="font-size: large;color:blue;width: 40px"
                               name="amount" #Amount OnlyNumber="true" ngModel>
                        <div class="input-group-append">
                          <button type="button" (click)="addProduct()" class="btn btn-success">
                            <i class="fa fa-eye" aria-hidden="true"></i>{{'PROJECT.product.sell.add'|translate}}
                          </button>
                          <button type="button" (click)="checkamount()" STYLE="margin-right:3px" class="btn btn-primary">
                            <i class="fa fa-eye" aria-hidden="true"></i>{{'PROJECT.product.sell.check'|translate}}
                          </button>
                        </div></div></div></div></div>

                <div *ngIf="scanner" class="form-group mx-sm-3 mb-2">
                  <label for="c" style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.edit.product_category'|translate}} </label>
                  <input type="text" style="font-size: large;color:blue" readonly class="form-control text-center" id="c" required ngModel
                         [(ngModel)]="selectedCategory" name="c"/></div>
                <div *ngIf="scanner" class="form-group mx-sm-3 mb-2">
                  <label for="n" style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.edit.product_name'|translate}} </label>
                  <input type="text" style="font-size: large;color:blue" readonly class="form-control text-center" id="n" required ngModel
                         [(ngModel)]="selectedValue" name="n"/></div>

              </div>
            </div>
            <hr style="border-color: blue" style="margin: 0px;padding: 0px">
            <div class="row" style="margin: 0px;padding: 0px">

              <div class="form-group mx-sm-3 mb-2">
                <label for="user" style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.sell.user_name'|translate}} </label>
                <input type="text" style="font-size: large;color:blue" readonly class="form-control text-center" id="user" required ngModel
                       [(ngModel)]="invoice.userName" name="user"/>
              </div>

              <div class="form-group mx-sm-3 mb-2">
                <label for="invoiceNo" style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.sell.invoice_no'|translate}} </label>
                <input type="text" style="font-size: large;color:blue" readonly class="form-control text-center" id="invoiceNo" required
                       [(ngModel)]="invoicesCount"
                       name="invoiceNo"/>
              </div>

              <button *ngIf="invoiceProducts.length===0&&role==l.ROLE_ADMIN" type="button" (click)="showpopup=true"
                      style="background-color: red"
                      class="btn btn-primary" data-toggle="modal" data-target="#employeePopUp">
                <i class="fa fa-search" aria-hidden="true" style="color:yellow;font-size:large "></i>
              </button>

              <div *ngIf="invoiceProducts.length>0" class="form-group mx-sm-3 mb-2">
                <label for="total" style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.sell.grand_total'|translate}}</label>
                <input type="text" style="font-size: large;color:blue" readonly class="form-control text-center" id="total" required
                       [(ngModel)]="total"
                       name="total"/>
              </div>

              <div class="form-group mx-sm-3 mb-2">
                <label for="date1"
                       style="color: blue;background-color:#fbfbfb;font-size: large">{{'PROJECT.product.sell.date'|translate}}</label>
                <!--<input type="date" name="defaultDate" max="3000-12-31" id="date1" min="1000-01-01" class="form-control" [(ngModel)]="defaultDate">-->
                <input type="text" name="defaultDate"  id="date1" readonly class="form-control text-center" [(ngModel)]="defaultDate" style="font-size: large;color:blue">
              </div>

              <!--<label>{{defaultDate| date:'yyyy-MM-dd'}}</label>-->

            </div>

          </form>
        </div>


      </div>


      <hr style="border-color: blue">
      <div *ngIf="invoiceProducts.length>0" class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-8">
                  <h2 style="color: blue">{{'PROJECT.product.sell.the_invoice'|translate}}</h2>
                </div>

                <div class="col-md-4">
                  <button type="button" (click)="onSubmit(f)" STYLE="margin-right:3px" class="btn btn-primary">
                    <i class="fa fa-eye" aria-hidden="true" style="color: red"></i>{{'PROJECT.product.sell.save_the_invoice'|translate}}<i class="fa fa-eye"
                                                                                                      aria-hidden="true"
                                                                                                      style="color: red"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                <tr style="color:red;font-size: large">
                  <th>{{'PROJECT.product.sell.product_name'|translate}}</th>
                  <th>{{'PROJECT.product.sell.the_amount'|translate}}</th>
                  <th>{{'PROJECT.product.sell.the_price'|translate}}</th>
                  <th>{{'PROJECT.product.sell.sub_total'|translate}}</th>
                  <th>{{'PROJECT.product.sell.actions'|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let invproduct of invoiceProducts ;  let i = index " style="color:blue;font-size: large">
                  <td>{{invproduct.name}}</td>
                  <td>{{invproduct.amount}}</td>
                  <td>{{invproduct.price}}</td>
                  <td>{{invproduct.amount * invproduct.price}}</td>
                  <td>
                    <button (click)="deleteInvoiceProduct(i)" class="btn btn-danger">{{'PROJECT.product.sell.delete'|translate}}</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)" (started)="onStarted"></barcode-scanner-livestream>

    <!--  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
        Tooltip on right
      </button>-->

  </section>
  <div class="push-footer"></div>
</main>

<div class="modal fa fa" id="employeePopUp" tabindex="-1" role="dialog" *ngIf="showpopup"
     aria-labelledby="successLabel" aria-hidden="true">
  <app-search-popup (show-popup)="showpopup=$event"></app-search-popup>
</div>




