
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav col-md-10">
    <li class="nav-item">
      <a style="cursor: pointer" (click)="this.login('product')"><i style="font-size: xx-large;color: white" class="fa fa-shopping-basket"></i></a>
    </li>
    <li class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('chatting')"><i style="font-size: xx-large;color: white" class="fa fa-volume-control-phone"></i></a>
    </li>
    <li class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('pyramid')"><i style="font-size: xx-large;color: white" class="fa fa-beer"></i></a>
    </li>
     </ul>
  <ul class="nav navbar-nav navbar-right col-md-2">
    <li class="nav-item" >
      <a > <select class="fa fa-eye"  (change)="setLang()" [(ngModel)]="selectedLang" style="background-color:navy;color:white;font-size: x-large">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}<i class="fa fa-eye" style="color: red"></i></option>
      </select> </a>
    </li>

    <li class="dropdown"  >
      <a (mouseenter)="dropDownOpened=!dropDownOpened" style="cursor: pointer;margin: 20px;color: whitesmoke"  class="dropdown-toggle"
         appDropdown data-toggle="dropdown" role="button">{{'PROJECT.header.hi'|translate}} - {{userName}} <span class="caret"></span></a>
      <ul class="dropdown-menu " [ngClass]="{show:dropDownOpened}">
        <li>
      <a style="cursor: pointer;color: blue" (click)="this.login('product')"><h6>PRODUCT</h6></a>

        <div class="dropdown-divider"></div>
        <li><a style="cursor: pointer;color:blue" (click)="Logout()">Logout</a></li>
      </ul></li>

      </ul>
    </nav>

