<main [ngStyle]="{direction:direc?'rtl':'ltr'}" style="margin: 0px;padding: 0px">
  <ngx-loading-bar color="#da3f7b"></ngx-loading-bar>
  <front-header (right_direction)="direc=$event"></front-header>
  <div class="container" style="margin:0px">
        <div class="row" style="margin: 0px 400px">
          <div class="row">
            <div class="col-md-8">
              <img [src]="preloadImgPath" class="embed-responsive" style="height: 170px;width: 200px">
            </div><div class="col-md-4">
            <img [src]="preloadImgPath" class="embed-responsive" style="height: 170px;width: 200px">
          </div>
          </div>
          <div >
            <div class="card  " style="width:600px; height: 350px ;margin: 0px 0px;padding: 0px;
            background-color:navy;border-color: #FFC312">
              <div class="card-body">
                <div class="tab-content">
                  <div class="row" style="margin-bottom: 5px">
                    <div class="col-md-4">
                      <button (click)="this.login('product')"><i class="fa fa-shopping-cart" aria-hidden="true"></i><h6>
                       {{'PROJECT.home.shopping_and_marketing'|translate}}</h6></button>
                    </div>
                    <div class="col-md-4">
                      <button (click)="this.login('chatting')"><i class="fa fa-phone" aria-hidden="true"></i><h4>
                        {{'PROJECT.home.chatting'|translate}}</h4></button>
                    </div>
                    <div class="col-md-4">
                      <button (click)="this.login('product')"><i class="fa fa-newspaper-o" aria-hidden="true"></i><h6>
                        {{'PROJECT.home.news'|translate}}</h6></button>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <button (click)="this.login('product')"><i class="fa fa-sliders" aria-hidden="true"></i>
                        <h5>{{'PROJECT.home.management'|translate}}</h5></button>
                    </div>
                    <div class="col-md-4">
                      <button (click)="this.login('product')"><i class="fa fa-photo" aria-hidden="true"></i>
                        <h5>{{'PROJECT.home.recruitment'|translate}}</h5></button>
                    </div>
                    <div class="col-md-4">
                      <button (click)="this.login('product')"><i class="fa fa-tumblr-square" aria-hidden="true"></i>
                        <h5>{{'PROJECT.home.tutorials'|translate}}</h5></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-8">
            <img [src]="preloadImgPath" class="embed-responsive" style="height: 170px;width: 200px">
              </div><div class="col-md-4">
            <img [src]="preloadImgPath" class="embed-responsive" style="height: 170px;width: 200px">
          </div>
            </div>
          </div>
      </div>
  <div class="push-footer"></div>
</main>
