button {
  border: 3px solid gold;
  color: white;
  background-color: blue;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
  width: 170px;
  height: 150px;

}

i {
  font-size: 100px;
  color: white;
}

h2{
  border-color: orangered;
}
