
<main [ngStyle]="{direction:direc?'rtl':'ltr'}">
    <product-header (showing)="setimag($event)" (right_direction)="direc=$event"></product-header>
    <br/>
    <ngx-loading-bar color="red"></ngx-loading-bar>

    <div *ngIf="showimg" style="background-color:white " >
      <!--<h2 style="text-align: center; color: red">{{title}}</h2>-->
      <hr style="border-color: blue"/>
    <!--  <div>
        <h1>{{'HOME.t'|translate}}</h1>
        <select class="fa fa-language" #selectLang (change)="translate.use(selectLang.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
        </select>
      </div>-->
      <app-image-slider></app-image-slider>
     <!-- <img [src]="imgPath" class="embed-responsive" height="700px"  width="400px" >-->
    </div>

      <router-outlet></router-outlet>
<!--  <footer style="position: fixed;bottom: 0;right: 500px;color:yellow " class="footer">
    <div class="container">
      <span class="text-center">All Rights Reserved For Ahmed Saber</span>
    </div>
  </footer>-->
</main>


