<h2 xmlns="http://www.w3.org/1999/html" style="text-align: center;color: lime">{{'PROJECT.product.sell.the_product_view'|translate}}</h2>

<hr/>
<div *ngIf="product">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <label><b>{{'PROJECT.product.edit.product_category'|translate}} - </b></label>
          <span>{{product.category}}</span>
        </div>
        <div>
          <label><b>{{'PROJECT.product.edit.product_name'|translate}} - </b></label>
          <span>{{product.name}}</span>
        </div>
        <div>
          <label><b>{{'PROJECT.product.edit.product_brand'|translate}} - </b></label>
          <span>{{product.brand}}</span>
        </div>
        <div>
          <label><b>{{'PROJECT.product.edit.product_description'|translate}} - </b></label>
          <span>{{product.description}}</span>
        </div>
        <div>
          <label><b>{{'PROJECT.product.edit.product_amount'|translate}} - </b></label>
          <span>{{product.amount}}</span>
        </div>
        <div>
          <label><b>{{'PROJECT.product.edit.product_price'|translate}} - </b></label>
          <span>{{product.price}}<i class="fa fa-dollar"></i></span>
        </div>
        <div><br>
          <hr style="border-color: blue"/>
          <div *ngIf="buy">
            <div class="row">
            <label style="color:magenta">{{'PROJECT.product.sell.enterQuantity'|translate}}</label>
            <input type="number" class="form-control " id="amount" required minlength="1" min="1"
                   data-toggle="tooltip" data-placement="right" title="Enter the Amount"
                   [(ngModel)]="amount" style="font-size:small;width: fit-content;text-align: center"
                   name="amount" #_i ngModel PositiveOnly></div>
            <hr style="border-color: blue"/>
          </div>
          <button *ngIf="buy" (click)="addToCart()" class="btn btn-warning" style="margin: 3px;">{{'PROJECT.product.sell.add_to_cart'|translate}}</button>
          <button *ngIf="!buy" (click)="buy=true" class="btn btn-warning">{{'PROJECT.product.sell.buy'|translate}}</button>
          <button class="btn btn-success" style="margin: 3px" routerLink="../../slider">{{'PROJECT.product.sell.back_to_online_shopping'|translate}}</button>
          <button *ngIf="role==l.ROLE_ADMIN" (click)="list()" class="btn btn-primary">{{'PROJECT.product.sell.back_to_products'|translate}}</button>
          <br></div>
      </div>
      <div class="col-md-6">
        <img [src]="imgPath+product.imageName" class="embed-responsive" height="300px" width="170px">
      </div>
    </div>
  </div>
</div>










