<div class="container">
    <div >
      <div class="row" style="margin:0 3px;">
        <img [src]="imgPath+user?.backgroundImage" class="embed-responsive"
             style="height: 300px;width:100%;z-index: 1;">
        <img [src]="imgPath+user?.personalImage" class="embed-responsive"
             style="height: 100px;width:100px;z-index: 2;position: fixed">
      </div>

      <div class="row" style="width: 100%;background-color:navy;margin: 11px ">
        <div *ngIf="visitor!=true" class="row">
          <div class="col-md-12">
            <div class="input-group form-group">
              <input type="file" #fileInput (change)="personalEvent=$event" style="display: none" ngModel required
                     name="fil">
              <button class="btn btn-success" type="button" (click)="fileInput.click();showSave=true">
                      <span class="input-group-text" style="background-color: blue;border-color: blue"><i
                        class="fa fa-file"
                        style="font-size: large;color:yellow;border-color: blue"> upload personal image</i></span>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="visitor!=true" class="row">
          <div class="col-md-12">
            <div class="input-group form-group">
              <input type="file" #fileInput2 (change)="backgroundEvent=$event" style="display: none" ngModel required
                     name="fil2">
              <button class="btn btn-success" type="button" (click)="fileInput2.click();showSave=true">
                      <span class="input-group-text" style="background-color: blue;border-color: blue"><i
                        class="fa fa-file" style="font-size: large;color:yellow;border-color: blue"> upload background image</i></span>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="visitor==true&&!showRemoveFriend" class="row">
          <div class="col-md-12">
            <div class="input-group form-group">
              <button (click)="sendFriendReques()" class="btn btn-success" type="button"
                      [disabled]="showRequestSent"><span class="input-group-text"
                                                         style="background-color: blue;border-color: blue"><i
                class="fa fa-users"
                style="font-size: large;color:white;border-color: blue"> {{showRequestSent ? 'Your request sent' : 'send request'}}</i></span>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="visitor==true&&showRemoveFriend" class="row">
          <div class="col-md-12">
            <div class="input-group form-group">
              <button (click)="removeFriend()" class="btn btn-success" type="button"><span class="input-group-text"
                                                                                           style="background-color: blue;border-color: blue"><i
                class="fa fa-users" style="font-size: large;color:white;border-color: blue"> Remove Friend</i></span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group form-group">
              <button class="btn btn-success" type="button"><span class="input-group-text"
                                                                  style="background-color: blue;border-color: blue"><i
                class="fa fa-user-secret"
                style="font-size: large;color:white;border-color: blue"> friends{{visitor == true ? ' - the common friends - ' + 9 : ''}}</i></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row offset-md-2" *ngIf="showSave">
          <div class="col-md-12">
            <div class="input-group form-group">
              <button (click)="updateUser()" class="btn btn-success" type="button"><span class="input-group-text"
                                                                                         style="background-color: white;border-color: yellow"><i
                class="fa fa-save" style="font-size: large;color:blue;border-color: blue"> Save</i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
