<div class="container" *ngIf="paragraphs.length==0">
  <h2 class="text-center">WELCOME TO HOME PAGE</h2>
  <p>'الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله الله
    </p>
</div>

<div class="container" *ngFor="let p of paragraphs">
<h2 class="text-center">{{p.header}}</h2>
<p>{{p.paragraph}}</p>
  <div style="margin: 20px 250px"><img alt="" class="avatar" height="300" width="300" [src]="paragraphImagePath+p.file"></div>
</div>
