<ngx-loading-bar color="red"></ngx-loading-bar>
<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <nav aria-label="breadcrumb" style="background-color: white;color: navy">
            <ol class="breadcrumb" style="background-color: white;color: navy">
              <li class="breadcrumb-item"> <a routerLink="../" routerLinkActive="active"><i class="fa fa-home"
                                                                                           style="font-size: xx-large"></i></a>
              </li>
              <li class="breadcrumb-item" style="font-size: large"> <a routerLink="../sell" style="padding:0px 5px"
                                                                      routerLinkActive="active"> {{'PROJECT.breadcrumb.selling'|translate}}</a>
              </li>
              <li class="breadcrumb-item" style="font-size: large;">   <a routerLink="../slider" style="padding:0px 5px"
                                                                       routerLinkActive="active"> {{'PROJECT.breadcrumb.view_product'|translate}}</a>
              </li>
              <li class="breadcrumb-item"> <a (click)="showAddProductPopup=true"
                                             style="background-color: white;cursor: pointer;padding:0px 5px" data-toggle="modal"
                                             data-target="#employeePopUp">
                <i class="fa fa-eye" aria-hidden="true"
                   style="color:lime;font-size:x-large "> {{'PROJECT.breadcrumb.add_product'|translate}}</i></a></li>
              <li class="breadcrumb-item"><a (click)="showChartPopup=true"
                                             style="background-color: white;cursor: pointer;padding:0px 5px" data-toggle="modal"
                                             data-target="#chartPopUp">
                <i class="fa fa-bar-chart" aria-hidden="true"
                   style="color:magenta;font-size:x-large "> {{'PROJECT.breadcrumb.chart'|translate}}</i></a></li>
              <li class="breadcrumb-item"><a (click)="generateProductReport()"
                                             style="background-color: white;cursor: pointer;padding:0px 5px">
                <i class="fa fa-print" aria-hidden="true"
                   style="color:blue;font-size:x-large ">  {{'PROJECT.breadcrumb.print'|translate}}</i></a></li>
            </ol>
          </nav>

          <!-- <hr style="border-color: blue">-->

          <!--<form class="form-inline" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-group form-group">
              <div class="input-group-prepend">
            <span class="input-group-text" style="background-color: blue"><i class="fa fa-angle-double-right"
                                                                             style="font-size:xx-large;color:red"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="product.name" #name ngModel name="name "
                     placeholder="PRODCUT NAME" required>

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
            <span class="input-group-text" style="background-color: blue"><i class="fa fa-angle-double-right"
                                                                             style="font-size: xx-large;color:red"></i></span>
              </div>
              <input type="number" class="form-control" [(ngModel)]="product.amount" #amount ngModel name="amount"
                     placeholder="PRODUCT AMOUNT" required>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
            <span class="input-group-text" style="background-color: blue"><i class="fa fa-angle-double-right"
                                                                             style="font-size: xx-large;color:red"></i></span>
              </div>
              <input type="number" class="form-control" [(ngModel)]="product.price" #price ngModel name="price"
                     placeholder="PRODUCT PRICE" required>
            </div>
            <div class="input-group form-group">
              <input type="file" #fileInput (change)="fileEvent=$event" style="display: none">
              <button type="button" (click)="fileInput.click()" style="background-color: blue;color: red">
              <span class="input-group-text" style="background-color: blue;border-color: blue"><i class="fa fa-file" style="font-size: large;color:red;border-color: blue">pick file</i></span>
              </button>
              &lt;!&ndash;
                        <button type="button" (click)="onFileUpload()" style="background-color: blue;color: red">Upload</button>
              &ndash;&gt;

            </div>

            <div class="form-group align-content-center">
              <input type="submit" value="ADD" class="btn float-right login_btn" [disabled]="!loginForm.valid"
                     style="background-color: blue;color: red">
            </div>
          </form>-->
        </div>
      </div>
      <!--<hr style="border-color: blue">-->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <!--         <div class="panel-heading">
                       <h2 style="color: blue;text-align: center;">Product List</h2>
                     </div>
                     <hr style="border-color: blue">
                     <br/>-->
            <div class="panel-body">
              <input type="text" class="search-query form-control "
                     placeholder="{{'PROJECT.product.edit.search.all'|translate}}"
                     name="searchAll" style="color: blue;text-align: center"
                     [(ngModel)]="searchByAll"/>

              <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100% "
                     style="text-align: center">
                <thead>
                <tr style="color: lime">
                  <th class="th-sm">{{'PROJECT.product.edit.product_image'|translate}}</th>
                  <th (click)="sort('name')" class="th-sm">{{'PROJECT.product.edit.product_name'|translate}}
                    <span class="fa fa-sort"
                          [ngClass]="{'fa-sort-alpha-desc ':reverse,'fa-sort-alpha-asc ':!reverse}"></span></th>
                  <th (click)="sort('brand')" class="th-sm">{{'PROJECT.product.edit.product_brand'|translate}}
                    <span class="fa fa-sort"
                          [ngClass]="{'fa-sort-alpha-desc ':reverse,'fa-sort-alpha-asc ':!reverse}"></span></th>
                  <th (click)="sort('category')" class="th-sm">{{'PROJECT.product.edit.product_category'|translate}}
                    <span class="fa fa-sort"
                          [ngClass]="{'fa-sort-amount-desc ':reverse,' fa-sort-amount-asc ':!reverse}"></span></th>
                  <th (click)="sort('amount')" class="th-sm">{{'PROJECT.product.edit.product_amount'|translate}}
                    <span class="fa fa-sort"
                          [ngClass]="{'fa-sort-numeric-desc ':reverse,'fa-sort-numeric-asc ':!reverse}"></span></th>
                  <th (click)="sort('price')" class="th-sm">{{'PROJECT.product.edit.product_price'|translate}}
                    <span class="fa fa-sort"
                          [ngClass]="{'fa-sort-numeric-desc ':reverse,'fa-sort-numeric-asc ':!reverse}"></span></th>
                  <th (click)="sort('description')"
                      class="th-sm">{{'PROJECT.product.edit.product_description'|translate}}
                    <span class="fa fa-sort " [ngClass]="{'fa-sort-up ':reverse,'fa-sort-down ':!reverse}"></span></th>
                  <th class="th-sm" style="width: fit-content ">{{'PROJECT.product.edit.actions'|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr style="color:blue;border-color: blue">
                  <td>

                  </td>
                  <td>
                    <input type="text" class="search-query form-control "
                           placeholder="{{'PROJECT.product.edit.search.name'|translate}}"
                           name="searchName" style="color: blue"
                           [(ngModel)]="searchByName"/>
                  </td>
                  <td>
                    <input type="text" class="search-query form-control "
                           placeholder="{{'PROJECT.product.edit.search.brand'|translate}}"
                           name="searchName" style="color: blue"
                           [(ngModel)]="searchByBrand"/>
                  </td>
                  <td>
                    <input type="text" class="search-query form-control "
                           placeholder="{{'PROJECT.product.edit.search.category'|translate}}"
                           name="searchName" style="color: blue"
                           [(ngModel)]="searchByCategory"/>
                  </td>

                  <td>
                    <input type="text" class="search-query form-control "
                           placeholder="{{'PROJECT.product.edit.search.amount'|translate}}"
                           name="searchAmount" style="color: blue"
                           [(ngModel)]="searchByAmount"/>
                  </td>
                  <td>
                    <input type="text" class="search-query form-control "
                           placeholder="{{'PROJECT.product.edit.search.price'|translate}}"
                           name="searchPrice" style="color: blue"
                           [(ngModel)]="searchByPrice"/>
                  </td>
                  <td>

                  </td>
                  <td>
                    <h6 style="color: red;font-style:italic;font-family:Algerian">{{products?.length}}
                      -{{'PROJECT.product.edit.product_count'|translate}}</h6>
                  </td>

                </tr>
                <tr
                  *ngFor="let product of products|orderBy:key:reverse
                  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
                                                 |productFilter:searchByAll:searchByName:searchByBrand:searchByCategory"

                  style="color:blue ">
                  <td style="width:140px"><img [src]="imgPath+product.imageName" class="embed-responsive" height="50px"
                                               width="30px"></td>
                  <td style="width:130px">{{product.name|shorten:11}}</td>
                  <td style="width:120px">{{product.brand|shorten:8}}</td>
                  <td style="width:130px">{{product.category|shorten:8}}</td>
                  <td style="width:120px">{{product.amount}}</td>
                  <td style="width:120px">{{product.price}}<i class="fa fa-dollar"></i></td>
                  <td style="width:120px">{{product.description|shorten:8}}</td>
                  <td style="width:180px">
                    <button (click)="updateProduct(product.name)" class="btn btn-primary" style=""
                            data-toggle="tooltip" data-placement="right"
                            title="{{'PROJECT.product.edit.tap.product_edit'|translate}}"><i
                      class="fa fa-edit"></i></button>
                    <button (click)=" productDetails(product.name)" class="btn btn-success" style=""
                            data-toggle="tooltip" data-placement="right"
                            title="{{'PROJECT.product.edit.tap.product_details'|translate}}"><i
                      class="fa fa-eye"></i></button>
                    <button (click)="deleteProduct(product.name)" class="btn btn-info"
                            data-toggle="tooltip" data-placement="right"
                            title="{{'PROJECT.product.edit.tap.product_delete'|translate}}"><i
                      class="fa fa-recycle"></i>
                    </button>
                  </td>
                </tr>
                </tbody>

                <tfoot>
                <tr style="color: lime">
                  <th class="th-sm">{{'PROJECT.product.edit.product_image'|translate}}</th>
                  <th class="th-sm">{{'PROJECT.product.edit.product_name'|translate}}</th>
                  <th class="th-sm">{{'PROJECT.product.edit.product_brand'|translate}}</th>
                  <th class="th-sm">{{'PROJECT.product.edit.product_category'|translate}}</th>
                  <th class="th-sm">{{'PROJECT.product.edit.product_amount'|translate}}</th>
                  <th class="th-sm">{{'PROJECT.product.edit.product_price'|translate}}</th>
                  <th class="th-sm">{{'PROJECT.product.edit.product_description'|translate}}</th>
                  <th class="th-sm" style="width: fit-content ">{{'PROJECT.product.edit.actions'|translate}}</th>
                </tr>
                </tfoot>
              </table>
              <div class="row">
                <div class="row">
                  <div class="col-md-8">
                    <label style="color: blue">{{'PROJECT.product.edit.items_per_page'|translate}}</label>
                  </div>
                  <div class="col-md-4">

                    <select
                      style="font-size: small;background-color:white;color: blue;cursor: pointer;height: 25px;border-bottom-color: blue"
                      class="form-control form-control-sm text-center"
                      [(ngModel)]="itemsPerPage"
                      ngModel required>
                      <option style="color: white"
                              [value]="'categories'">{{'PROJECT.product.edit.tap.select_category'|translate}}</option>
                      <option style="color: blue; font-size: small" *ngFor="let item of items"
                              [value]="item">{{ item }}</option>
                    </select>

                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>

<div class="modal fa fa" id="employeePopUp" tabindex="-1" role="dialog" *ngIf="showAddProductPopup"
     aria-labelledby="successLabel" aria-hidden="true">
  <app-add-product-popup (show-popup)="showAddProductPopup=$event" (new-product)="addNewProduct($event)"></app-add-product-popup>
</div>

<div class="modal fa fa" id="chartPopUp" tabindex="-1" role="dialog" *ngIf="showChartPopup"
     aria-labelledby="successLabel" aria-hidden="true">
  <product-bar-chart (show-popup)="showChartPopup=$event" ></product-bar-chart>
</div>





