<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav col-md-4">
      <li class="nav-item">
        <img alt="" class="avatar" height="30" width="30" [src]="ASaberWordAr" style="border-radius: 50%">
      </li>
      <li class="nav-item">
        <a [routerLink]="mainPath" class="nav-link" style="color: lime" routerLinkActive="active">MAIN PAGE</a>
      </li>
    </ul>
  </nav>
</header>

<main >
  <div class="card">
    <div class="card-body">
      <div *ngFor="let joined of websocketService.joinedArray">
        <h3 *closeTag class="text-center" [ngStyle]="{color:joined.state=='joined'?'blue':'red'}"
            style="color: blue">{{joined.state=='joined'&&joined.user!=userName?joined.user+' joined':''}}</h3>
        <h3 *closeTag class="text-center" [ngStyle]="{color:joined.state=='joined'?'blue':'red'}"
            style="color: blue">{{joined.state=='leave'&&joined.user!=userName?joined.user+' left':''}}</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let message of websocketService.messagesFake" >
          <strong  [ngStyle]="{'background-color':message.user!=userName?'#ff6701':'blue'}">{{message.user|slice :0:1|uppercase}}</strong>
          <span style="color: blue">{{ message.message}}</span>
        </li>

      </ul>
    </div>
  </div>
  <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
    <div class="row">
      <div class="col-md-2">
        <input type="text" class="form-control" id="input-user" name="user" readonly [(ngModel)]="userName" style="background-color: white;color: blue">
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" id="input-message" name="message" ngModel>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">send</button>
      </div>
    </div>
  </form>

</main>
