.card{
  margin-top:10rem;
  margin-left: 5px;
  width: 600px;
}
.card-body{
  border-radius: .25rem;
  hieght: 100%;
  margin-bottom: 2rem;
}
li{
  height: 100%;
}
.row{
  width: 650px;
  margin: 4px 0;
}
strong{
  border-radius: 50%;
  background-color: #ff6701;
  color:white;
  font-size: xx-large;
  margin: 2px 3px;
  max-height: max-content;
  max-width: max-content;
}
/*----------------------------------------------------*/
.example-action-button {
  margin-top: 8px;
  margin-right: 8px;
}
