
<nav class="navbar navbar-expand-sm " style="background-color: black">
  <!-- Links -->
  <ul class="navbar-nav col-md-9">
    <li @come1 (click)="this.login('product')" SetBackgroundColor=black highlight-color=red class="nav-item">
      <a style="cursor: pointer" ><i style="font-size: large;color: white" class="fa fa-shopping-basket">shopping</i></a>
    </li>
    <li @come2 SetBackgroundColor=black highlight-color=red class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('chatting')"><i style="font-size: large;color:white" class="fa fa-volume-control-phone">chatting</i></a>
    </li>
    <li @come3 SetBackgroundColor=black highlight-color=red class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('pyramid')"><i style="font-size:large;color: white" class="fa fa-beer"> fun Games</i></a>
    </li>
    <li @come4 SetBackgroundColor=black highlight-color=red class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('test_chat')"><i style="font-size:large;color:white" class="fa fa-group">chatting groups</i></a>
    </li>
    <li @come5 SetBackgroundColor=black highlight-color=red class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('tutorial')"><i style="font-size:large;color:white" class="fa fa-table"> tutorials</i></a>
    </li>
    <li @come6 SetBackgroundColor=black highlight-color=red class="nav-item" style="margin-right:9px;margin-left: 9px">
      <a style="cursor: pointer" (click)="this.login('cars')"><i style="font-size:large;color:white" class="fa fa-truck"> Cars Hiring</i></a>
    </li>
     </ul>
  <ul class="nav navbar-nav navbar-right col-md-3">
    <li SetBackgroundColor=black highlight-color=red class="nav-item" >
      <a > <select class="fa fa-eye"  (change)="setLang()" [(ngModel)]="selectedLang" style="background-color:black;color:white;font-size: x-large">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}<i class="fa fa-eye" style="color: red"></i></option>
      </select> </a>
    </li>

    <li SetBackgroundColor=black highlight-color=red class="dropdown"  >
      <a (mouseenter)="dropDownOpened=!dropDownOpened" style="cursor: pointer;margin: 20px;color: whitesmoke"  class="dropdown-toggle"
         appDropdown data-toggle="dropdown" role="button">{{'PROJECT.header.hi'|translate}} - {{userName}} <span class="caret"></span></a>
      <ul class="dropdown-menu " [ngClass]="{show:dropDownOpened}">
        <li SetBackgroundColor=black highlight-color=red  >
      <a style="cursor: pointer;color: blue" (click)="this.login('product')"><h6>PRODUCT</h6></a>

        <div class="dropdown-divider"></div>
        <li SetBackgroundColor=black highlight-color=red ><a style="cursor: pointer;color:blue" (click)="Logout()">Logout</a></li>
      </ul></li>

      </ul>
    </nav>

