output {
  font-size: xx-large;
  min-width: 90px;
  margin: 0 3px;
  color: blue;
  border: 2px solid blue;
}

button {
  cursor: pointer;
  background-color: black;
  border: 1px solid blue;
  color: blue;
}

input {
  margin: 3px 10px;
  border: 3px solid blue;
  color: blue;
  max-width: 470px;
  min-width: 470px;
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 3px solid red;
}

textarea {
  margin: 3px 10px;
  border: 3px solid blue;
  color: blue;
  max-width: 470px;
}

h1 {
  color: lime;
}
