<aside class="body container">
  <a *ngIf="!openSideBar" (click)="openSideBar=!openSideBar" ><i class="openSideBar fa fa-angle-double-right " style="margin-left: 1px;border:3px solid blue;">  </i></a>
  <div  class="sidebar"[ngStyle]="{width:openSideBar?'220px':'40px'}" >
    <div *ngIf="openSideBar">
  <div class="row pull-left" style="margin:0 10px;">
    <a  (click)="openAddParagraph=true" data-toggle="modal" data-target="#add-paragraph"  data-toggle="tooltip" data-placement="right" [title]="'Edit paragraph'">
      <i class="fa fa-paragraph" style="color: lawngreen;font-size: large;cursor: pointer"></i></a>
    <a (click)="addLink()" data-toggle="tooltip" data-placement="right" [title]="'add link'"><i class="fa fa-link" style="color: lime;font-size: large;cursor: pointer;" ></i></a>
    <a (click)="deleteLink()" data-toggle="tooltip" data-placement="right" [title]="'delete link'"  ><i class="fa fa-edit" style="color: lime;font-size: large;cursor: pointer;"></i></a>
    <a (click)="openSideBar=!openSideBar" ><i class="fa fa-angle-double-left" style="color: lime;font-size: x-large;cursor: pointer"  data-toggle="tooltip" data-placement="right" [title]="'hidden sideBare'"></i></a>
  </div>
      <input class="form-control" [(ngModel)]="link" placeholder="add link">
      <p *ngIf="linkExist" class="text-center" style="color: blue">{{message}}</p>
  <a  style="color: white;cursor: pointer"><i class="fa fa-fw fa-home"></i> Home</a>
  <a  style="color: white;cursor: pointer"><i class="fa fa-fw fa-wrench"></i> Services</a>
  <a style="color: white;cursor: pointer"><i class="fa fa-fw fa-user"></i> Clients</a>
  <a style="color: white;cursor: pointer"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <hr style="border:1px solid white">
      <a *ngFor="let l of links;let i=index" style="color: white;cursor: pointer"  (click)="setActive(i)"
      [routerLink]="['sideBarPopup',tabTitle,l.label]"
         [ngStyle]="{color:selectedItemIndex==i?'blue':'white'}"><i class="fa fa-angle-double-right"></i> {{l.label}}</a>
      <hr style="border:1px solid white">
      <a class="dropdown row myinput" >
        <a (mouseenter)="dropDownOpened=!dropDownOpened"
           class="dropdown-toggle form-control myinput" data-toggle="dropdown" >select side</a>
        <ul class="dropdown-menu" [ngClass]="{show:dropDownOpened}" style="background-color: black;color: white">
          <li *ngFor="let l of links;let i=index" class="text-center" #_i>
            <a type="button"  >{{l.label}}</a>
          </li>
        </ul>
      </a>

</div>
  </div>
<div class="main pre-scrollable"style="min-height: 720px">
<router-outlet></router-outlet>
</div>
</aside>
<div class="modal fa fa" id="add-paragraph" tabindex="-1" role="dialog" *ngIf="openAddParagraph"
     aria-labelledby="successLabel" aria-hidden="true">
  <add-paragraph (show-popup)="openAddParagraph=$event"></add-paragraph>
</div>
